@using System.Runtime.CompilerServices
@using Microsoft.AspNetCore.Components.Routing
@using MudBlazor

@inherits LayoutComponentBase

<MudThemeProvider @ref="@this._mudThemeProvider" Theme="@this._currentTheme" @bind-IsDarkMode="@this._isDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>

        <!-- Topbar -->
        <MudAppBar Elevation="1">

            <!-- Sidebar Toggle -->
            <MudIconButton id="main-layout-sidebar-toggle"
                           Icon="@Icons.Material.Filled.Menu"
                           Color="Color.Inherit"
                           Edge="Edge.Start"
                           OnClick="@OnToggleSidebarClicked" />

            <!-- Title and subtitle -->
            <div class="main-layout-header-title ms-2">
                <MudText Typo="Typo.h6">
                    @LayoutContext.AppTitle
                </MudText>

                @if (!string.IsNullOrWhiteSpace(LayoutContext.AppSubtitle))
                {
                    <MudText Typo="Typo.subtitle2" Class="text-muted">
                        @LayoutContext.AppSubtitle
                    </MudText>
                }
            </div>

            <MudSpacer />
            
            <!-- profile / profile menu -->
            <MudMenu AnchorOrigin="Origin.BottomRight"
                     TransformOrigin="Origin.TopRight"
                     PopoverClass="main-layout-profile-menu-popover">

                <ActivatorContent>
                    <MudButton id="main-layout-profile-button"
                               Color="Color.Inherit"
                               StartIcon="@Icons.Material.Filled.AccountCircle"
                               Size="Size.Large">
                        <span class="main-layout-profile-username">
                            @if (!string.IsNullOrWhiteSpace(LayoutContext.DisplayName))
                            {
                                @LayoutContext.DisplayName
                            }
                            else
                            {
                                @("unknown user")
                            }
                        </span>
                    </MudButton>
                </ActivatorContent>
                <ChildContent>
                    
                    <MudMenuItem OnClick="@(() => OnThemeToggleMenuItemClick())" Icon="@GetThemeIcon()" Label="@GetThemeLabel()"/>

                    <MudDivider />
                    
                    @foreach (var item in LayoutContext.ProfileMenuItems)
                    {
                        <MudMenuItem OnClick="@(() => OnProfileMenuItemClick(item))" Icon="@item.Icon" Label="@item.Text"/>
                    }
                </ChildContent>
            </MudMenu>

        </MudAppBar>

        <!-- Sidebar -->
        <MudDrawer Anchor="Anchor.Start"
                   Variant="DrawerVariant.Responsive"
                   @bind-Open="@this.SidebarOpen"
                   Elevation="1"
                   ClipMode="DrawerClipMode.Always">

            <MudNavMenu>
                @RenderNav(string.Empty)
            </MudNavMenu>

        </MudDrawer>

        <!-- Main Content + Footer -->
        <MudMainContent>

            <div class="main-layout-main-body">
                @Body
            </div>


            
            <MudPaper Outlined="true" Class="main-layout-footer d-flex justify-space-around flex-grow-1 gap-4 pt-3 pb-3" Elevation="0">
                <MudText>@LayoutContext.FooterLeft</MudText>
                <MudText>@LayoutContext.FooterCenter</MudText> 
                <MudText>@LayoutContext.FooterRight</MudText>
            </MudPaper>

        </MudMainContent>

    </MudLayout>
